<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="N_Tier_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="ABC_Academy" connectionString="server=(local);database=AbcAcademy_Project;integrated security= SSPI;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <N_Tier_Project.Properties.Settings>
            <setting name="PW" serializeAs="String">
                <value>1234</value>
            </setting>
        </N_Tier_Project.Properties.Settings>
    </userSettings>
</configuration>
